[Unit]
Description=A fast, obscured stateless VPN
After=network.target
Documentation=man:muon(8)

[Service]
Type=forking
KillSignal=SIGINT
ExecStart=/usr/bin/muon -c /etc/muon/%i.conf -d --pidfile /run/muon@%i.pid --logfile /var/log/muon@%i.log
PIDFile=/run/muon@%i.pid
Restart=on-failure
RestartSec=1

[Install]
WantedBy=multi-user.target
