*.gcda
*.gcno
*.gcov
*.html
*.o
*.pro
*.pro.user
*.svg
*.tar.gz
*.tar.xz
*~
.DS_Store
.deps/
.dirstamp
.lint/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libmill/
missing
src/Makefile
src/Makefile.in
src/muon
stamp-h1
test-driver
tests/*.log
tests/*.trs
tests/encapsulate
tests/hmac_md5
tests/md5
tests/perf
tests/rc4
