*.gcda
*.gcno
*.gcov
*.html
*.o
*.pro
*.pro.user
*.svg
*.tar.gz
*.tar.xz
*~
.DS_Store
.deps/
.lint/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
contrib/archlinux/sipvpn/
depcomp
install-sh
libtool
ltmain.sh
m4
missing
src/Makefile
src/Makefile.in
src/sipvpn
stamp-h1
test/
